# Игнорировать все файлы, которые начинаются с точки, кроме .gitignore
.*

# Но не игнорировать .gitignore
!.gitignore

# Игнорировать временные файлы KiCad
*.bak
*.kicad_prl
*.000
*.bck
*.kicad_bak
*-backups

# Игнорировать файлы автосохранения
_autosave-*

# Игнорировать файлы журнала и своп-файлы
*.log
*.swp
*.tmp

# Игнорировать кэш-файлы проекта
*-cache.lib
fp-info-cache

# Игнорировать файлы спецификации и генерации BOM
*.xml
*.net
*.dsn
*.ses

# Игнорировать скомпилированные данные
*.nav

# Игнорировать специфические для пользователя настройки рабочего пространства
*.pro.user
*.kicad_wks

# Игнорировать скриншоты, если они не нужны
#*.png
#*.jpg
#*.jpeg
#*.bmp
#*.tiff

# Также можно добавить игнорирование директорий
build/
output/
